* {
	font-family: 'Fira Sans', sans-serif;
}

#install {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	padding: 40px 0;
}

#install .content {
	width: 500px;
	max-width: 100%;
	border: 1px solid #dedede;
	background-color: white;
	padding: 20px;
	height: 100%;
	overflow-y: auto;
}

#header {
	border-bottom: 1px solid var(--bs-border-color-translucent);
}

#header .menu-group button {
	font-weight: bold;
	background: none;
	color: var(--bs-dark);
	transition: all 0.2s;
	border: none;
	line-height: 70px;
}

#header .menu-group button:hover, #header .menu-group button.active {
	color: var(--bs-primary);
	border-bottom: 2px solid;
	margin-bottom: -1px;
}

#header .title {
	font-weight: bold;
}

#content {
	min-height: 100vh;
	padding-top: 70px;
}

#dashboard .content {
	margin-left: 300px;
}

#dashboard .sidebar {
	position: fixed;
    overflow-y: auto;
    top: 74px;
    width: 300px;
    background-color: var(--bs-primary);
    padding-top: 50px;
    height: calc(100vh - 74px);
}

#dashboard .sidebar .content {
	margin-top: 100px;
	color: white;
}

#dashboard .sidebar .form-group {
	display: grid;
	gap: 20px;
}

.schedule-card {
	max-width: 600px;
	width: 100%;
}

.events-card:first-child {
	margin-top: 0;
}

.events-card {
	border-radius: 0;
	margin-top: 30px;
}

.events-card .country {
	border-bottom: 1px solid var(--bs-border-color-translucent);
}

/* .select2-selection--multiple:before {
	content: "";
	position: absolute;
	right: 7px;
	top: 42%;
	border-top: 5px solid #888;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
} */

.card {
	--bs-card-border-color: var(--bs-primary);
	--bs-card-cap-bg: rgba(var(--bs-primary-rgba));
}

.form-container label {
	margin-top: 7px;
}

.form-container .row {
	margin-top: 20px;
}

.form-container .row:first-child {
	margin-top: 0;
}

.form-container .form-button {
	margin-top: 40px;
	text-align: right;
}