// app global css in SCSS form
.capitalize {
  text-transform: capitalize;
}

.card-bottom {
  min-width: 600px;
}

.link {
  cursor: pointer;
  transition: all 0.5s;
  width: fit-content;

  &:hover {
    text-decoration: underline;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.card-bottom {
  width: 450px;
  max-width: 100%;
}

.clickable-card {
  cursor: pointer;
}

.v-horizontal {
  .v-hl-container {
    align-items: center;
  }
}